{% load i18n %}

<div id="staff-graded-assignment-edit">
  <ul class="list-input settings-list">
    {% for field, value, validator in fields %}
    <li class="field comp-setting-entry metadata_entry">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" 
          for="{{ field.name }}_input">{{ field.display_name }}</label>
        <input class="input setting-input" type="text" 
               id="{{ field.name }}_input" name="{{ field.name}}" 
               value="{{ value }}" data-validator="{{ validator }}"/>
      </div>
      <span class="tip setting-help">{{ field.help }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
