{% load i18n %}

<div class="sga-block" data-state="{{ student_state }}" 
     data-staff="{{ is_course_staff }}">
  <script type="text/template" id="sga-tmpl">
    <% if (uploaded.length > 0) { %>
      <b>Uploaded Files</b>
      <p>
        <table>

          <% if (upload_allowed) { %>
            <% for (var i = 0; i < uploaded.length; i++) { %>
              <tr>
                <td><a href="<%= downloadUrl + '/' + uploaded[i].sha1 %>"><%= uploaded[i].filename %></a></td>
                <td>
                  <button class="filedelete" value="<%= i %>" type="button" name="delete">delete</button>
                </td>
              </tr>
            <% } %>

          <% } else { %>

            <% for (var i = 0; i < uploaded.length; i++) { %>
              <tr>
                <td><a href="<%= downloadUrl + '/' + uploaded[i].sha1 %>"><%= uploaded[i].filename %></a></td>
              </tr>
            <% } %>
          <% } %>

        </table>
      </p>

      <p><a href="<%= downloadZippedUrl %>">Download All</a></p>

    <% } else { %>
      <p>No file has been uploaded.</p>
    <% } %>

    <% if (upload_allowed) { %>
      <p>
        <% if (uploaded) { %>
          {% trans "Upload another file." %}
        <% } else { %>
          {% trans "Upload a file." %}
        <% } %>
        <div class="upload">
          <input class="fileupload" type="file" name="assignment"/>
          <button>Select a file</button>
        </div>
      </p>
    <% } %>

    <% if (submitted) { %>

      <% if (graded) { %>
        <p>Your score is <%= graded.score %> / <%= max_score %><br/>
          <% if (graded.comment) { %>
            <b>Instructor comment</b> <%= graded.comment %>
          <% } %>
        </p>
      <% } else { %>
        {% trans "This assignment has not yet been graded." %}
      <% } %>

      <% if(annotated.length > 0)  { %>
        <p>Annotated Files </p>
        <% for (var i = 0; i < annotated.length; i++) { %>
          <ul>
            <li><a href="<%= downloadUrl + '/' + annotated[i].sha1 %>"><%= annotated[i].filename %></a></li>
          </ul>
        <% } %>
      <% } %>

      <p>Submitted on: <%= submission_time %></p>

    <% } else { %>
      <p>
        <% if (upload_allowed) { %>
          <button class="assingmentsubmit" type="button" name="submit">submit</button>
        <% } else { %>
          Assignment is passed due date.
        <% } %>
      </p>
    <% } %>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
  </script>

  <div id="sga-content">
  </div>

{% if is_course_staff %}
  <script type="text/template" id="sga-grading-tmpl">
    <table class="gridtable">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Files</th>
        <th>Submission Date</th>
        <th>Grade</th>
        <th>Instructors comments</th>
        <th>Annotations</th>
        <th>Options</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a class="remove-all-submissions-button" href="#command-remove-submission">
                {% trans "Remove All Submissions" %}
          </a>
        </td>
        <td>
          <a class="reopen-all-submissions-button" href="#command-reopen-submission">
                {% trans "Reopen All Submissions" %}
          </a>
        </td>
      </tr>
      <% for (var i = 0; i < assignments.length; i++) { %>
      <%     var assignment = assignments[i]; %>
        <tr id="row-<%= assignment.module_id %>">
        
          <td><%= assignment.username %></td>

          <td><%= assignment.fullname %></td>

          <td>
            <% if (assignment.uploaded.length > 0) { %>
              <ul>
                <% for (var i = 0; i < assignment.uploaded.length; i++) { %>

                  <li>
                    <a href="<%= downloadUrl + '/' + assignment.uploaded[i].sha1 %>?module_id=<%= assignment.module_id %>">
                      <%= assignment.uploaded[i].filename %>
                    </a>
                  </li>

                <% } %></p>
              </ul>
              <p><a href="<%= downloadZippedUrl %>?module_id=<%= assignment.module_id %>"> Download All </a>
            <% } %>
          </td>

          <td><%= assignment.timestamp %></td>

          <td>
            <% if (assignment.score !== null) { %>
              <%= assignment.score %> /
              <%= max_score %>
              <% if (! assignment.approved) { %>
                ({% trans "Awaiting instructor approval" %})
              <% } %>
            <% } %>
          </td>

          <td><%= assignment.comment %></td>

          <td>
            <% if (assignment.uploaded.length > 0) { %>
              <ul>
                <% for (var i = 0; i < assignment.uploaded.length; i++) { %>

                  <li>
                    <a href="<%= annotatedDownloadUrl + '/' + assignment.annotated[i].sha1 %>?module_id=<%= assignment.module_id %>">
                      <%= assignment.uploaded[i].filename %>
                    </a>
                  </li>

                <% } %>
              </ul>
              <p><a href="<%= annotatedDownloadZippedUrl %>?module_id=<%= assignment.module_id %>"> Download All </a>
            <% } %>
            <p><a class="manage-annotated-button" href="#{{ id }}-manage-annotated">
              {% trans "Manage" %}
            </a></p>
          </td>

          <td>
            <% if (assignment.may_grade) { %>
              <p><a class="enter-grade-button" href="#{{ id }}-enter-grade">
                <% if (assignment.needs_approval) { %>
                  {% trans "Approve grade" %}
                <% } else { %>
                  {% trans "Enter grade" %}
                <% } %>
              </a></p>
            <% } %>

            <% if (assignment.uploaded.length > 0) { %>
              <p><a class="remove-submission-button" href="#{{ id }}-remove-submission">
                {% trans "Remove Submission" %}
              </a></p>
            <% } %>

            <% if (assignment.submitted) { %>
              <p><a class="reopen-submission-button" href="#{{ id }}-reopen-submission">
                {% trans "Reopen Submission" %}
              </a></p>
            <% } %>
          </td>

        </tr>
      <% } %>
    </table>
  </script>


  <div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action" id="grade-submissions-button"
       href="#{{ id }}-grade">{% trans "Grade Submissions" %}</a>
    <a class="instructor-info-action" id="staff-debug-info-button"
       href="#{{ id }}-debug">{% trans "Staff Debug Info" %}</a>
  </div>

  <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-grade" style="height: 75%">
    <div class="inner-wrapper" style="color: black; overflow: auto;">
      <header><h2>{% trans "Staff Graded Assignment" %}</h2></header>
      <br/>
      <div id="grade-info" style="display: block;">
        Loading...
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal staff-modal" 
           style="height: 80%" id="{{ id }}-debug">
    <div class="inner-wrapper" style="color: black">
      <header><h2>{% trans "Staff Debug" %}</h2></header>
      <br/>
      <div class="staff_info" style="display: block; white-space: normal">
        is_released = {{ is_released }}<br/>
        location = {{ location }}<br/>
        <br/>
        <table summary="${_('Module Fields')}">
          <tr><th>{% trans "Module Fields" %}</th></tr>
          {% for name, field in fields %}
          <tr>
            <td>{{name}}</td>
            <td>
              <pre style="display:inline-block; margin: 0;">{{field}}</pre>
            </td>
          </tr>
          {% endfor %}
        </table><br/>
        category = {{category}}
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal grade-modal" id="{{ id }}-enter-grade">
    <div class="inner-wrapper" style="color: black">
      <header><h2>
        {% trans "Enter Grade" %}
      </h2></header>
      <br/>
      <div style="display: block;">
        <form id="enter-grade-form">
          <input id="module_id-input" type="hidden" name="module_id"/>
          <div>Grade for <span id="student-name"/></div>
          <div>Grade: <input id="grade-input" name="grade"/>
            <span class="error"></span></div>
          <div>Comment: <textarea id="comment-input" name="comment" rows="4"></textarea></div>
          <div>
            <button type="submit">{% trans "Submit" %}</button>
            <button type="button" id="enter-grade-cancel">
              {% trans "Cancel" %}
            </button>
            <button type="button" id="remove-grade">
              {% trans "Remove grade" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal annotated-modal" id="{{ id }}-manage-annotated">
    <div class="inner-wrapper" style="color: black">
      <header><h2>
        {% trans "Manage Annotated Files" %}
      </h2></header>
      <br/>
      <div style="display: block;">
        <form id="manage-annotations-form">
        <div>Files for <span id="student-name-annotations"/></div>

          <table>
          <% if (assignment.annotated.length > 0) { %>
              <% for (var i = 0; i < assignment.annotated.length; i++) { %>

                <tr>
                  <td><a href="<%= downloadUrl + '/' + annotated[i].sha1 %>"><%= annotated[i].filename %></a></td>
                  <td>
                    <button id="annotated-file-delete" value="<%= i %>" type="button" name="deleteannotated">delete</button>
                  </td>
                </tr>

              <% } %>
            </table>
            <p><<a id="annotated-download-all"> Download All </a></p>
          <% } else { %>
            <p>{% trans "No annotations for this student." %}</p>
          <% } %>
          <div class="uploadAnnotated">
            <input id="annotated-file-upload" type="file" name="assignment"/>
            <button>Select a file</button>
          </div>
          <button type="button" id="manage-annotated-exit">
            {% trans "Exit" %}
          </button>

          </form>
      </div>
    </div>
  </section>
  {% endif %}
</div>
